* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

html {
line-height: 1.15;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-ms-overflow-style: scrollbar;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
scroll-behavior: smooth;
}

@-ms-viewport {
width: device-width;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
display: block;
}

html,
body {
height: 100%;
}
body {
margin: 0;
background-color: #f4f4f4;
overflow-x: hidden;
font-size: 1rem;
font-weight: 300;
line-height: 1.5;
color: #333;
text-align: left;
}

pre,
code,
kbd,
samp {
font-size: 1em;
}

a{
  text-decoration: none;
}

pre {
margin-top: 0;
margin-bottom: 1rem;
overflow: auto;
-ms-overflow-style: scrollbar;
}

figure {
margin: 0 0 1rem;
}

svg {
overflow: hidden;
vertical-align: middle;
}

caption {
padding-top: 0.75rem;
padding-bottom: 0.75rem;
color: #6c757d;
text-align: left;
caption-side: bottom;
}

code {
font-size: 87.5%;
color: #e83e8c;
word-break: break-word;
}

a > code {
color: inherit;
}

kbd {
padding: 0.2rem 0.4rem;
font-size: 87.5%;
color: #fff;
background-color: #212529;
border-radius: 0.2rem;
}

kbd kbd {
padding: 0;
font-size: 100%;
font-weight: 700;
}

pre {
display: block;
font-size: 87.5%;
color: #212529;
}

pre code {
font-size: inherit;
color: inherit;
word-break: normal;
}

.pre-scrollable {
max-height: 340px;
overflow-y: scroll;
}
body { 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden; /* Evita rolagem */
}

canvas {
    /* position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto; */
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
}

.title{
    font-size: 4rem;
}   

.detail{
    font-size: 1.4rem;
}

#btn{
    background-color: #58cb58;
    padding: 30px;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
}